<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <link href="/css/auth/auth_style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <form action="/users/login" method="POST">
        <div class="title">로그인</div>
        <div class="input-box underline">
          <input type="text" name="username" placeholder="Username" required />
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <input type="password" name="password" placeholder="Password" required />
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input type="submit" value="로그인" />
        </div>
      </form>
      <div class="signup">
        <a href="/users/signup"><i class="fab fa-signup"></i>회원가입</a>
      </div>
      <div class="option">or Connect With Social Media</div>
      <div class="google">
        <a href="#"><i class="fab fa-google"></i>GOOGLE</a>
      </div>
      <div class="naver">
        <a href="#"><i class="fab fa-naver"></i>NAVER</a>
      </div>
      <div class="kakao">
        <a href="#"><i class="fab fa-kakao"></i>KAKAO</a>
      </div>
      <div class="option"><a href="/">돌아가기</a></div>
    </div>
  </body>
</html>
