#alarm-container .alarm-a-tag {color: #000000; text-decoration: none; outline: none;}
#alarm-container .alarm-a-tag:hover,
#alarm-container .alarm-a-tag:active,
#alarm-container .alarm-a-tag:visited {
    text-decoration: none; color: #000000;
}

.alert-simple.new_comment
{
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
    transition:0.5s;
    cursor:pointer;
}

.new_comment:hover
{
    background-color: rgba(7, 73, 149, 0.35);
    transition:0.5s;
}

.alert-simple.new_child_comment
{
    border: 1px solid rgb(0, 216, 112);
    background-color: rgba(185, 236, 205, 0.8);
    box-shadow: 0px 0px 2px #11c059;
    color: #035d2b;
    transition:0.5s;
    cursor:pointer;
}

.new_child_comment:hover
{
    background-color: rgba(7, 73, 149, 0.35);
    transition:0.5s;
}

.alert-simple.new_like
{
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    transition:0.5s;
    cursor:pointer;
}

.new_like:hover
{
    background-color: rgba(220, 17, 1, 0.33);
    transition:0.5s;
}

.alert:before {
    content: '';
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    height: 20px;
}

.checked {
    border: 1px solid rgba(181, 178, 178, 0.81);
    background-color: rgba(211, 208, 208, 0.16);
    box-shadow: 0px 0px 2px #514f4f;
    color: #000000;
    transition:0.5s;
    cursor:pointer;
}