.nav {
    justify-content: center;
}

.card {
    margin-bottom: 20px;
}

.card-block a {color: #000000; text-decoration: none; outline: none}
.card-block a:hover, .card-block a:active {text-decoration: none; color: #000000;}

.my-nav {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #dee2e6;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
}

.my-nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 13px 13px;
    color: #212529;
    margin-right: 5px;
}

.my-nav-link:hover {
    text-decoration:none;
    background-color: #d0ebff;
    border-bottom: 2px solid #339af0
}
.my-nav-link.current {
    border-bottom: 2px solid #1971c2;
}

@media (min-width: 768px) {
    .my-nav {
        font-size: 1.1rem;
        padding-left: 10px;
        padding-right: 10px;
    }
    .my-nav-link {
        padding: 20px 20px;
    }
}

.my-modify {
    color: blue;
}